:root {
    font-size: 62.5%;

    --fontFamily: "Plus Jakarta Sans", serif;

    --blue-900: #13183F;
    --blue-600: #666CA3;
    --pink-600: #F74780;
    --pink-300: #FFA7C3;
    --grey: #83869A;

    --grad-pink1: #F02AA6;
    --grad-pink2: #FF6F48;

    --grad-purple1: #4851FF;
    --grad-purple2: #F02AA6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontFamily);
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10.5rem;
    padding: 1.6rem 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
}


.hero {
    height: 30rem;
    width: 33rem;
}

main > div:first-child {
    margin: 6.4rem 0;
  }

.logo {
    height: 2rem;
    width: 8rem;
  }
  
  

footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10.5rem;
    padding: 2.4rem 0;
    margin-top: 8rem;
    background-color: var(--blue-900);
    color: white;
}

h1, h3 {
    color: var(--blue-900);
}

p {
    color: var(--grey);
}

.courses > div {
    background-color: wheat;
    height: 27.6rem;
    width: 33.5rem;
}

.courses {
    display: grid;    
    gap: 6rem;
}
