:root {
    font-size: 62.5%;

    --fontFamily: "Plus Jakarta Sans", serif;

    --blue-900: hsl(233°, 54%, 16%);
    --blue-600: hsl(234°, 25%, 52%);
    --pink-600: hsl(341°, 92%, 62%);
    --pink-300: hsl(341°, 100%, 83%);
    --grey: hsl(232°, 10%, 56%);

    --grad-pink1: hsl(322°, 87%, 55% );
    --grad-pink2: hsl(13°, 100%, 64%);

    --grad-purple1: hsl(237°, 100%, 64%);
    --grad-purple2: hsl(322°, 87%, 55%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
